<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abdulaziz.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewPaymenthistory"></activity>
        <activity android:name=".PaymantAdapter" />
        <activity android:name=".employer_contact_admin" />
        <activity
            android:name=".addRateActivity"
            android:theme="@style/AppTheme.popup" />
        <activity
            android:name=".FeedbackActivity"
            android:label="ردود الفعل" />
        <activity
            android:name=".empViewContractProfileActivity"
            android:label="عقد" />
        <activity
            android:name=".highestBalancePoster"
            android:label="عارضين العمال - الاكثر مطالبات" />
        <activity
            android:name=".highestContractEmp"
            android:label="الباحثين عن عمال - الاكثر عقود" />
        <activity
            android:name=".highestContractPoster"
            android:label="عارضين العمال - الاكثر عقود" />
        <activity
            android:name=".AdminReports"
            android:label="التقارير" />
        <activity
            android:name=".ResetTheBalance"
            android:label="ادارة المطالبات" />
        <activity
            android:name=".EmpContractViewActivity"
            android:label="العقود" />
        <activity
            android:name=".ViewProfileContract"
            android:label="عقد" />
        <activity
            android:name=".editingworker"
            android:label="تعديل معلونات عامل" />
        <activity
            android:name=".editworkers"
            android:label="تعديل معلومات العمال" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".workerposterreports"
            android:label="التقارير" />
        <activity
            android:name=".highestincomeworkerposter"
            android:label="العمال - الاعلى دخلاً" />
        <activity
            android:name=".lowestrateworkerposter"
            android:label="العمال - الاسواء تقييماً" />
        <activity
            android:name=".highestrateworkeposter"
            android:label="العمال - الافضل تقييماً" />
        <activity
            android:name=".lowestincomeworker"
            android:label="العمال - الاقل دخلاً" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegExpEmp"
            android:label="انشاء حساب" />
        <activity
            android:name=".PosterRegisaration"
            android:label="انشاء حساب" />
        <activity
            android:name=".Login"
            android:label="تسجيل الدخول" />
        <activity
            android:name=".WorkerPosterMain"
            android:label="الرئيسية - عارض العمال" />
        <activity
            android:name=".EmployerMainActivity"
            android:label="الرئيسية - باحث عن عمال" />
        <activity
            android:name=".searchForWorkerActivity"
            android:label="البحث عن عامل" />
        <activity
            android:name=".addworker"
            android:label="اضافة عامل" />
        <activity
            android:name=".ViewWorkesActivity"
            android:label="العمال" />
        <activity
            android:name=".viewworkerinfo"
            android:label="العمال" />
        <activity
            android:name=".DeleteWorker"
            android:label="حذف عامل" />
        <activity
            android:name=".AdminMain"
            android:label="الرئيسية - المشرف" />
        <activity
            android:name=".EmployerView"
            android:label="الباحثين عن عمال" />
        <activity
            android:name=".PosterView"
            android:label="عارضين العمال" />
        <activity
            android:name=".EmpViewWorkersActivity"
            android:label="العمال" />
        <activity
            android:name=".SearchResultActivity"
            android:label="نتيجة البحث" />
        <activity
            android:name=".WorkerProfileActivity"
            android:label="الملف الشخصي للعامل" />
        <activity
            android:name=".RequestActivity"
            android:label="طلب توظيف" />
        <activity
            android:name=".ViewRequestsActivity"
            android:label="طلبات التوظيف" />
        <activity
            android:name=".systemfeesworkerposter"
            android:label="الرسوم" />
        <activity
            android:name=".ViewEmpProfileAdmin"
            android:label="الملف الشخصي لباحث عن عامل" />
        <activity
            android:name=".viewPosterAdmin"
            android:label="الملف الشخصي لعارض العمال" />
        <activity
            android:name=".postercontacttheadmin"
            android:label="العقود" />
        <activity
            android:name=".ContractView"
            android:label="العقود" />
        <activity
            android:name=".pastcontractsposter"
            android:label="العقود السابقة" />
        <activity
            android:name=".poster_contract_view"
            android:label="العقود الحالية" />
    </application>

</manifest>